<div id="<%= dom_id party %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= party.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Playlist uid:</strong>
    <%= party.playlist_uid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= party.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this party", party, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this party', edit_party_path(party), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
