<div class="mx-auto max-w-7xl py-12 px-4 text-center sm:px-6 lg:py-16 lg:px-8">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
    <span class="block"><%= @party.name %></span>
  </h2>
  <div class="mt-8 flex justify-center">
    <div class="inline-flex rounded-md shadow">
      <%= button_to "Start", start_party_path(@party), method: :post, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-4 text-base font-medium text-white hover:bg-indigo-700" %>
    </div>
    <div class="ml-3 inline-flex">
      <%= button_to "Stop", stop_party_path(@party), method: :post, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-100 px-8 py-4 text-base font-medium text-indigo-700 hover:bg-indigo-200" %>
    </div>
  </div>
</div>

<div class="relative">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="bg-white px-3 text-lg font-medium text-gray-900">Interruptions</span>
  </div>
</div>

<div class="mt-8 flex justify-center">
  <div class="inline-flex rounded-md shadow">
    <span class="isolate inline-flex rounded-md shadow-sm">
      <%= button_to "Announcement", start_announcement_party_path(@party), method: :post, class: "relative inline-flex items-center rounded-l-md border border-gray-300 bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
      <%= button_to "Resume", stop_announcement_party_path(@party), method: :post, class: "relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
    </span>
  </div>
</div>

<div class="mt-8 flex justify-center">
  <div class="inline-flex rounded-md shadow">
    <span class="isolate inline-flex rounded-md shadow-sm">
      <%= button_to "15 Minute Countdown", start_15_minute_countdown_party_path(@party), method: :post, class: "relative inline-flex items-center rounded-l-md border border-gray-300 bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
      <%= button_to "Resume", stop_15_minute_countdown_party_path(@party), method: :post, class: "relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
    </span>
  </div>
</div>

<div class="mt-8 flex justify-center">
  <div class="inline-flex rounded-md shadow">
    <span class="isolate inline-flex rounded-md shadow-sm">
      <%= button_to "Awards", start_awards_party_path(@party), method: :post, class: "relative inline-flex items-center rounded-l-md border border-gray-300 bg-indigo-600 px-4 py-2 text-sm font-medium text-white hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
      <%= button_to "Resume", stop_awards_party_path(@party), method: :post, class: "relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500" %>
    </span>
  </div>
</div>

<% if @player.playing? %>
  <div class="relative my-10">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center">
      <span class="bg-white px-3 text-lg font-medium text-gray-900">Now Playing</span>
    </div>
  </div>
  <div class="flex px-3 justify-between">
    <div class="mr-4 flex-shrink-0 self-center">
      <%= image_tag @player.currently_playing.album.images.last['url'] %> 
    </div>
    <div>
      <h4 class="text-lg font-bold"><%= @player.currently_playing.name %></h4>
      <p class="mt-1"><%= @player.currently_playing.artists.first.name %></p>
      <p class="mt-1"><%= @player.currently_playing.album.name %></p>
    </div>
    <%= button_to "Skip", skip_party_path(@party), method: :post, class: "inline-flex items-center justify-right rounded-md border border-transparent bg-indigo-100 px-8 py-4 text-base font-medium text-indigo-700 hover:bg-indigo-200" %>
  </div>
<% end %>
